In [8]:
import pandas as pd
import gspread
from oauth2client.service_account import ServiceAccountCredentials

scope = ['https://spreadsheets.google.com/feeds']
credentials = ServiceAccountCredentials.from_json_keyfile_name('Jupyter and Google Sheets-cda1603fb5ad.json', scope)
gc = gspread.authorize(credentials)


spreadsheet_key = '1VR2nC8KSbt9Hi5mR9MWW6NDeJFHkaUfWtTve7QFovx0'
book = gc.open_by_key(spreadsheet_key)

worksheet = book.worksheet("nba")
table = worksheet.get_all_values()

df = pd.DataFrame(table[1:], columns=table[0])
##Only keep columns we need
df = df[['Rk', 'Pk', 'Tm', 'Player', 'College', 'Yrs', 'G', 'MP']]
df = df.apply(pd.to_numeric, errors='ignore')
df.head()

,Rk,Pk,Tm,Player,College,Yrs,G,MP,MP
0,1,1.0,CLE,Andrew Wiggins,University of Kansas,4.0,327.0,11841.0,36.2
1,2,2.0,MIL,Jabari Parker,Duke University,4.0,183.0,5617.0,30.7
2,3,3.0,PHI,Joel Embiid,University of Kansas,2.0,94.0,2698.0,28.7
3,4,4.0,ORL,Aaron Gordon,University of Arizona,4.0,263.0,6867.0,26.1
4,5,5.0,UTA,Dante Exum,,3.0,162.0,3280.0,20.2

In [4]:
# python3.6 -m pip install gspread
import pandas as pd
import gspread
from oauth2client.service_account import ServiceAccountCredentials

scope = ['https://spreadsheets.google.com/feeds']
credentials = ServiceAccountCredentials.from_json_keyfile_name('Jupyter and Google Sheets-cda1603fb5ad.json', scope)
gc = gspread.authorize(credentials)


spreadsheet_key = '1VR2nC8KSbt9Hi5mR9MWW6NDeJFHkaUfWtTve7QFovx0'
book = gc.open_by_key(spreadsheet_key)

worksheet = book.worksheet("Candidate Data")
table = worksheet.get_all_values()

df = pd.DataFrame(table[1:], columns=table[0])

##Only keep columns we need
df = df[['Order', 'Candidate', 'Position', 'Start Date', 'End Date', 'Years of Experience', 'Points']]

##Convert number strings to floats and ints
df = df.apply(pd.to_numeric, errors='ignore')

##Convert date strings to datetime format
df['End Date'] = pd.to_datetime(df['End Date'],infer_datetime_format=True)
df['Start Date'] = pd.to_datetime(df['Start Date'],infer_datetime_format=True)

df.head()

,Order,Candidate,Position,Start Date,End Date,Years of Experience,Points
0,45,Donald Trump,President,2017-01-20,2021-01-20,4.00274,104.0
1,45,Donald Trump,Secretary of State,NaT,NaT,0.00000,0.0
2,45,Donald Trump,Secretary of Defense,NaT,NaT,0.00000,0.0
3,45,Donald Trump,Secretary of Treasury,NaT,NaT,0.00000,0.0
4,45,Donald Trump,Vice President,NaT,NaT,0.00000,0.0